# Add any directories, files, or patterns you don't want to be tracked by version control
/_wpeprivate/
/wp-content/mu-plugins/
/wp-content/uploads/
/wp-content/plugins/
/wp-content/upgrade/
/wp-content/advanced-cache.php
/wp-content/index.php
/wp-content/mysql.sql
/wp-admin/
/wp-includes/
/apple-touch-icon-precomposed.png
/apple-touch-icon.png
/favicon.ico
/index.php
/last-mod
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-config-sample.php
.sass-cache/